@import "mixin";

$light : white;
.notFound {
    margin-top: 20px;
    box-shadow: black 1px 1px 10px;
    border: 1px solid white;
    border-radius: 1vw;
}
.errorResponse {
    position: fixed;
    z-index: 9999;
    bottom: 0;

}
.fancyNav {
    background-color: white;
    transition:ease-in-out 1s;
        a {
            color: darkgrey;
            &:hover {
                background-color: lightgray;

            }
        }
    #search_text {
        color: darkgrey !important;
        border: lightgray solid 1.5px !important;
    }
    .search_button {
        border-radius:0 !important;
        border: lightgray solid 1.5px !important;
        span {
            color: darkgrey !important;
        }
    }
}
nav {
    a {
        color:$light;
        font-weight: 700;
        &:hover {
            background-color: lightgrey;
            color: darkgrey;
            opacity: 0.8;
            transition-duration: 0.5s;
        }

    }

}
::-webkit-input-placeholder {
    color: $light;
}
:-moz-placeholder { /* Firefox 18- */
    color: $light;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $light;
}

:-ms-input-placeholder {
    color: $light;
}
.navbar-form {
    #search_text {

        color: $light;
        background:none;
        border: $light solid 1.5px;
    }
    .search_button {
        background: none;
        border-radius:0;
        border: $light solid 1.5px;
        span {
            color: $light;
            text-shadow: none;
        }
    }

}

body   {
    overflow-x: hidden;
    padding-top: 50px;
    background-color: black;
    a {
        cursor:pointer;
    }
    .duckLogo {
        margin-top: -10px;
        float:left;
        width: 50px;
        margin-right: 10px;
    }
    .wrapper {
        width: 100%;
        .modal {
                .easyLogin {
                    width:50%;
                    color: #08ebff * #ffaa00;
            }
            .directLogin {
                width:50%;
            }
            .additionalLogin {
                margin:0 5px !important;
            }
        }
        .sideOpen {
            width:20% !important;
            left: 80% !important;
        }
    .sideNavigation {

        position:fixed;
        left: 100%;
        transition-duration: 1s;
        ul {
            padding-top: 25px;
            list-style-type: none;
        }
        float:left;
        width: 20%;
        height: 100vh;
        background-color:rgb(0,204,102);
        .sideWrap {
            padding: 0 5%;
            width:90%;
        }
        .categoryTitle {
            margin-top: 32px;
            color:white;

        }


        }
        .sideClosed {
            width: 80% !important;
        }
        .mainTile {
            .containerMain {
                padding: 0 15px;
                .staticItems {


                }
            }
                    transition-duration: 1s;

            width: 100%;
            height: 100vh;
            float:left;
        }
    }
}

.item {
    margin-top: 20px;

    .itemImageFrame {
        width: 90%;
        height:auto;
        margin: 20px auto;
        .itemPictureBig {
            margin: auto;
            position:static !important;
            width: 100% !important;
            height: auto !important;

        }
    }
    .itemInformation {
        float:left;
        width: 90%;
        height: auto;
        margin-right:40px;
        .panel {
            margin-top: 20px;
        }
        button {
            margin-left: 10px;
        }
    }
}
.admin-row {
    padding-top: 10vh;
    padding-bottom: 10vh;

    .col-md-8 {

    }
    .col-md-4 {

    }
}
$blur : 8px;
.background {
    opacity: 0.9;
    background:  url(../web_images/back.gif) no-repeat;
    position: fixed;
    background-size:cover;
    z-index:-100;
    left: -2%;
    top: -6%;
    height: 111%;
    width: 105%;
    -webkit-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}
.question {font-weight:bold;background-color:#FFF;padding:7px 0px  0px 15px;}
.answer{font-style:italic;background-color:#FFF;padding:0px 0px 7px 15px;}
#faq-result{margin: -10px auto 0px;width:50%;line-height:30px;border-radius:5px;min-height:300px;}
#loader-icon {position: fixed;top: 50%;width:100%;height:100%;text-align:center;display:none;}


.items {
    margin: 10px;
    padding: 5px;
    float: left;
    width: 250px;
    background-color: lightgoldenrodyellow;
    .itemInfoHide {
        position: relative;
        .transitionInformation {
            font-size: 13px;
            padding: 5px;
            width: 75%;
            float:left;

            .pricey {
                color: white;
                float:right;
                margin-top: -91px;
                margin-right: 18px;
                h4 {
                    position:absolute;
                    z-index: 20;
                    margin-top: 40px;
                    margin-left: 30px;
                }
                .stick {
                    width: 109px;
                    height: auto;
                    z-index: 10;
                    position:absolute;
                }
            }
        }
        .productControl {
            width: 95%;
            float:left;
            margin: 5px;
        }
    }

    .itemWhite {
        padding: 5px;
        border: solid white 1px;
        border-radius: 5px;
        background-color: white;

    }
    .itemPicture {
        position: relative;
        height: auto;
        width: 100%;
    }
    .label {
        float: left;
    }
    .badge {
        float: right;
    }
}