@import "mixin";

$light : white;

.notFound {
    box-shadow: black 1px 1px 10px;
    padding: 20px;
}
.errorResponse {
    position: fixed;
    z-index: 9999;
    bottom: 0;

}
.paypal {
  margin-top: 11%;
}
.fancyNav {

    background-color: white;
    transition:ease-in-out 1s;

        .navbar-toggle {
            border: solid 1px darkgrey;
            span {
              color: darkgrey;
              background-color: darkgrey;
            }
        }
        a {
            color: darkgrey;
            &:hover {
                background-color: lightgray;

            }
        }
    .form-groups {
        #search_text {
            color: darkgrey !important;
            border: lightgray solid 1px !important;
        }
        .search_button {
            border-radius:0 !important;
            border: darkgrey solid 1px !important;
            span {
                background-color:darkgrey !important;
                color: darkgrey !important;
            }
        }
    }

}
#navigation {
  border-bottom: white solid 1px !important;

}

nav {
    background-color: rgba(0,0,0,0.1);

  .navbar-toggle {
        border: solid 1px white;
        span {
            background-color: white;
        }
    }
    a {
        color:white;
        font-weight: 700;
        &:hover {
            background-color: lightgrey;
            color: darkgrey;
            opacity: 0.8;
            transition-duration: 0.5s;
        }

    }

}
::-webkit-input-placeholder {
    color: $light;
}
:-moz-placeholder { /* Firefox 18- */
    color: $light;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $light;
}

:-ms-input-placeholder {
    color: $light;
}
.navbar-form {
    #search_text {
        width: 10vw;
        transition: ease-in-out,width .35s ease-in-out;
        &:focus {
            width: 30vw;
        }
        color: $light;
        background:none;
        border: $light solid 1.5px;
    }
    .input-group-btn{
        padding-top:0;
        padding-bottom:0;
             .search_button {
                 background: none;
                 border-radius:0;
                 border: $light solid 1px;
                 span {
                     color: $light;
                     text-shadow: none;
                 }
             }
         }


}

body   {
    overflow-x: hidden;
    padding-top: 50px;
    background-color: black;
    a {
        cursor:pointer;
    }
    .duckLogo {
        margin-top: -10px;
        float:left;
        width: 50px;
        margin-right: 10px;
    }
    .wrapper {
        width: 100%;
        .modal {
                .easyLogin {
                    width:50%;
                    color: #08ebff * #ffaa00;
            }
            .directLogin {
                width:50%;
            }
            .additionalLogin {
                margin:0 5px !important;
            }
        }
        .sideOpen {
            width:20% !important;
            left: 80% !important;
        }
    .sideNavigation {

        position:fixed;
        left: 100%;
        transition-duration: 1s;
        ul {
            padding-top: 25px;
            list-style-type: none;
        }
        float:left;
        width: 20%;
        height: 100vh;
        background-color:rgb(0,204,102);
        .sideWrap {
            padding: 0 5%;
            width:90%;
        }
        .categoryTitle {
            margin-top: 32px;
            color:white;

        }


        }
        .sideClosed {
            width: 80% !important;
        }
        .mainTile {

            .containerMain {
                padding: 0 15px;
                .staticItems {


                }
            }
                    transition-duration: 1s;

            width: 100%;
            height: 100vh;
            float:left;
        }
    }
}

.item {
    margin-top: 20px;

    .itemImageFrame {
        padding: 20px;
        width: 100%;
        height:auto;
        .itemPictureBig {
            margin: auto;
            position:static !important;
            width: 100% !important;
            height: auto !important;

        }
    }
    .itemInformation {
        float:left;
        width: 100%;
        height: auto;
        .panel {
        }
        button {
            margin-left: 10px;
        }
    }
}
.admin-row {
    padding-top: 10vh;
    padding-bottom: 10vh;

    .col-md-8 {

    }
    .col-md-4 {

    }
}
$blur : 2px;
$light-tint: rgba(0,0,0,0.2);
$dark-tint: rgba(0,0,0,0.9);
.background {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($dark-tint, $light-tint); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($dark-tint, $light-tint); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($dark-tint, $light-tint); /* For Firefox 3.6 to 15 */
    background: linear-gradient($dark-tint, $light-tint), no-repeat; /* Standard syntax */
    position: fixed;
    background-size:cover;
    z-index:-100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}
/*.background {
    opacity: 0.9;
    background:  url(../web_images/back.gif) no-repeat;
    position: fixed;
    background-size:cover;
    z-index:-100;
    left: -2%;
    top: -6%;
    height: 111%;
    width: 105%;
    -webkit-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}*/
.question {font-weight:bold;background-color:#FFF;padding:7px 0px  0px 15px;}
.answer{font-style:italic;background-color:#FFF;padding:0px 0px 7px 15px;}
#faq-result{margin: -10px auto 0px;width:50%;line-height:30px;border-radius:5px;min-height:300px;}
#loader-icon {position: fixed;top: 50%;width:100%;height:100%;text-align:center;display:none;}

.item-par {
    margin: 15px !important;
}
.items {
    margin-top:30px;
    box-shadow: 0.5px 0.5px 2px black;
    border: lightgray solid 1px;
    padding: 5px;
    float: left;
    width: 217px;
    background-color: rgba(255,255,255,0.8);
    .itemInfoHide {
        position: relative;
        .transitionInformation {
            font-size: 13px;
            padding: 5px;
            width: 100%;
            float:left;
            .pricey {
                color: white;
                float:right;
                margin-top: -91px;
                margin-right: 18px;
                h4 {
                    position:absolute;
                    z-index: 20;
                    margin-top: 40px;
                    margin-left: 30px;
                }
                .stick {
                    width: 109px;
                    height: auto;
                    z-index: 10;
                    position:absolute;
                }
            }
        }
        .productControl {
            width: 95%;
            float:left;
            margin: 5px;
        }
    }
    .itemWhite {
        padding: 5px;
        border: solid white 1px;
        border-radius: 5px;
        background-color: white;
    }
    .itemPicture {
        position: relative;
        height: auto;
        width: 100%;
    }
    .badge {
        float: right;
    }
}
.panel-custom {
    height : 500px;
    .postImage {
        width: 200px;
        height: auto;
    }
    .postDescription {
    }
    small {
        float:right;
    }
}
.bound-img {
    height: 50vh;
    background-size:cover;
    background: no-repeat center center;
}
.item {
    margin-top:0;
    height: 50vh !important;
}
.welcome-tile {
    height: 82vh;
    h1 {
        margin-top: 8vh;
        color: white;
        font-size: 60px;
        margin-bottom: 5vh;
    }
    h4 {
        color: white;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 2vh;
    }
    button {
        margin-top: 5vh;
        margin-left: 5vw;
        font-size: 20px;
        padding: 10px 20px;
        background: none;
        border-radius:0;
        color:white;
        transition-duration: 0.3s;
        &:hover {
            color:black;
            transition-duration: 0.3s;
        }
    }
    span.label {
        font-size: 12px;
    }
}
#postNew {
    padding: 20px;
}