.notFound {
  margin-top: 20px;
  box-shadow: black 1px 1px 10px;
  border: 1px solid white;
  border-radius: 1vw; }

.errorResponse {
  position: fixed;
  z-index: 9999;
  bottom: 0; }

.fancyNav {
  background-color: white;
  transition: ease-in-out 1s; }
  .fancyNav .navbar-toggle {
    border: solid 1px white; }
    .fancyNav .navbar-toggle span {
      background-color: white; }
  .fancyNav a {
    color: darkgrey; }
    .fancyNav a:hover {
      background-color: lightgray; }
  .fancyNav #search_text {
    color: darkgrey !important;
    border: lightgray solid 1.5px !important; }
  .fancyNav .search_button {
    border-radius: 0 !important;
    border: lightgray solid 1.5px !important; }
    .fancyNav .search_button span {
      color: darkgrey !important; }

nav {
  background-color: rgba(0, 0, 0, 0.1); }
  nav .navbar-toggle {
    border: solid 1px white; }
    nav .navbar-toggle span {
      background-color: white; }
  nav a {
    color: white;
    font-weight: 700; }
    nav a:hover {
      background-color: lightgrey;
      color: darkgrey;
      opacity: 0.8;
      transition-duration: 0.5s; }

::-webkit-input-placeholder {
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  color: white; }

.navbar-form #search_text {
  color: white;
  background: none;
  border: white solid 1.5px; }
.navbar-form .search_button {
  background: none;
  border-radius: 0;
  border: white solid 1.5px; }
  .navbar-form .search_button span {
    color: white;
    text-shadow: none; }

body {
  overflow-x: hidden;
  padding-top: 50px;
  background-color: black; }
  body a {
    cursor: pointer; }
  body .duckLogo {
    margin-top: -10px;
    float: left;
    width: 50px;
    margin-right: 10px; }
  body .wrapper {
    width: 100%; }
    body .wrapper .modal .easyLogin {
      width: 50%;
      color: yellow; }
    body .wrapper .modal .directLogin {
      width: 50%; }
    body .wrapper .modal .additionalLogin {
      margin: 0 5px !important; }
    body .wrapper .sideOpen {
      width: 20% !important;
      left: 80% !important; }
    body .wrapper .sideNavigation {
      position: fixed;
      left: 100%;
      transition-duration: 1s;
      float: left;
      width: 20%;
      height: 100vh;
      background-color: #00cc66; }
      body .wrapper .sideNavigation ul {
        padding-top: 25px;
        list-style-type: none; }
      body .wrapper .sideNavigation .sideWrap {
        padding: 0 5%;
        width: 90%; }
      body .wrapper .sideNavigation .categoryTitle {
        margin-top: 32px;
        color: white; }
    body .wrapper .sideClosed {
      width: 80% !important; }
    body .wrapper .mainTile {
      transition-duration: 1s;
      width: 100%;
      height: 100vh;
      float: left; }
      body .wrapper .mainTile .containerMain {
        padding: 0 15px; }

.item {
  margin-top: 20px; }
  .item .itemImageFrame {
    width: 90%;
    height: auto;
    margin: 20px auto; }
    .item .itemImageFrame .itemPictureBig {
      margin: auto;
      position: static !important;
      width: 100% !important;
      height: auto !important; }
  .item .itemInformation {
    float: left;
    width: 90%;
    height: auto;
    margin-right: 40px; }
    .item .itemInformation .panel {
      margin-top: 20px; }
    .item .itemInformation button {
      margin-left: 10px; }

.admin-row {
  padding-top: 10vh;
  padding-bottom: 10vh; }

.background {
  opacity: 0.9;
  background: url(../web_images/back.gif) no-repeat;
  position: fixed;
  background-size: cover;
  z-index: -100;
  left: -2%;
  top: -6%;
  height: 111%;
  width: 105%;
  -webkit-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px); }

.question {
  font-weight: bold;
  background-color: #FFF;
  padding: 7px 0px  0px 15px; }

.answer {
  font-style: italic;
  background-color: #FFF;
  padding: 0px 0px 7px 15px; }

#faq-result {
  margin: -10px auto 0px;
  width: 50%;
  line-height: 30px;
  border-radius: 5px;
  min-height: 300px; }

#loader-icon {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none; }

.items {
  margin: 10px;
  padding: 5px;
  float: left;
  width: 250px;
  background-color: lightgoldenrodyellow; }
  .items .itemInfoHide {
    position: relative; }
    .items .itemInfoHide .transitionInformation {
      font-size: 13px;
      padding: 5px;
      width: 75%;
      float: left; }
      .items .itemInfoHide .transitionInformation .pricey {
        color: white;
        float: right;
        margin-top: -91px;
        margin-right: 18px; }
        .items .itemInfoHide .transitionInformation .pricey h4 {
          position: absolute;
          z-index: 20;
          margin-top: 40px;
          margin-left: 30px; }
        .items .itemInfoHide .transitionInformation .pricey .stick {
          width: 109px;
          height: auto;
          z-index: 10;
          position: absolute; }
    .items .itemInfoHide .productControl {
      width: 95%;
      float: left;
      margin: 5px; }
  .items .itemWhite {
    padding: 5px;
    border: solid white 1px;
    border-radius: 5px;
    background-color: white; }
  .items .itemPicture {
    position: relative;
    height: auto;
    width: 100%; }
  .items .label {
    float: left; }
  .items .badge {
    float: right; }

.panel-custom {
  height: 500px; }
  .panel-custom .postImage {
    width: 200px;
    height: auto; }
  .panel-custom small {
    float: right; }

/*# sourceMappingURL=main.css.map */
